@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-tinder {
        @apply bg-gradient-to-r from-pink-500 via-red-500 to-rose-500;
    }

    .bg-register {
        @apply mt-8 w-full py-2 outline-none font-medium rounded-lg
               text-white
               bg-gradient-to-r from-[#B200FF] to-[#FF00DC]
               hover:bg-gradient-to-r hover:from-[#8700C6] hover:to-[#CC00B0];
    }

    .tab-btn-unselected {
        @apply font-normal
    }

    .tab-btn-selected {
        @apply font-bold border-b-2;
    }

    .admin-sidebar-tab-btn {
        @apply hover:bg-gray-200 active:bg-gray-300 flex justify-start items-center h-14 p-3
    }

    .webkit-small-scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .webkit-small-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .webkit-small-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 100vh;
        background: #888;
    }

    .webkit-small-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
